.Wrapper{
    width: 1200px;
    margin:  0 auto;
    font-family: 'Klee One','Noto Sans TC', sans-serif;
}

.lake{
    width:600px;
    /* margin:300px; */
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;

}


.lake01{
    width:100%;
    display: block;
}

.lake02{
    /* border: 1px solid red; */
    width: 15%;
    display: block;
    position: absolute;
    top: 30px;
    right: -90px;
}


h1{
    text-align: center;
    font-size: 30px;
    color:rgb(160, 160, 236);

}

.middle{
    width: auto;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.middle01{
    display: inline;
    /* width: 50%; */
}

.middle02{
    /* display: inline; */
    justify-self: center;
    /* width: 50%; */
}


.middle02 p{
    vertical-align: center;
    margin-left: 30px;
    margin-top: 10px;
}

.middle02 img{
    width: 10%;
}

