.Wrapper{
    width: 1200px;
    margin:  0 auto;
    font-family: 'Klee One','Noto Sans TC', sans-serif;
}

.lake{
    width:600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;

}

.lake img:hover{
    transform:rotate(5deg);
}




.lake01{
    width:100%;
    display: block;
}
.lake01:hover{
    transform:rotate(5deg);
}


.lake02{
    /* border: 1px solid red; */
    width: 15%;
    display: block;
    position: absolute;
    top: 30px;
    right: -90px;
}


h1{
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    color:rgb(160, 160, 236);
}

.middle{
    width: auto;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.middle01{
    display: inline;
    /* width: 50%; */
}

.middle02{
    /* display: inline; */
    justify-self: center;
    /* width: 50%; */
}


.middle02 p{
    vertical-align: center;
    margin-left: 30px;
    margin-top: 10px;
}

.middle02 img{
    width: 10%;
}






/*-------手機裝置-----------*/
@media screen and (max-width:414px ) {
    .Wrapper{
        width:auto;
    /*---寬度寫死的話,在RWD會直接寫alto，才可以穩合頁面寬度---*/
    /*-------------------------------*/
    }

    h1{
        width: 100vw;

    }


    .lake{
        width: 100vw;
        text-align: center;
    }

    .lake01{
        width: 80vw;
        margin-left: 40px;
    /*-----通常可以不用寫到100Vw，可以留一點margin--------------------------*/

    }

    .lake02{
        width: 10%;
        top: -10px;
        right: 100px;
    }


    .middle{
        width: 100vw;
    }

    .middle01{
        width: 50vw;
    }
/*-----通常可以不用寫到100Vw，可以留一點margin--------------------------*/
    .middle02 img{
        display: none;
        
    }


    .middle02 span{
        display: block;
        width: 40vw;
    }

    .middle02 p{
        font-size: 1rem;
        margin: 0 10px;
    }

    .traffic h2{
        margin-top: 10px;
    }


    .traffic p{
        font-size: .9rem;
        margin-top: 10px;
    }


    .traffic iframe{
        width: 100vw;
        margin-top: 20px;
    }

}